<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header>
    <div class="header">
        <div class="logo">
            <h1><a href="/index">萍水知温意</a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">&nbsp;*&nbsp;</a></li>
                <li><a href="#">&nbsp;爱&nbsp;</a></li>
                <li><a href="#">&nbsp;心&nbsp;</a></li>
                <li><a href="#">&nbsp;义&nbsp;</a></li>
                <li><a href="#">&nbsp;卖&nbsp;</a></li>
                <li><a href="#">&nbsp;网&nbsp;</a></li>
                <li><a href="#">&nbsp;站&nbsp;</a></li>
                <li><a href="#">&nbsp;*&nbsp;</a></li>
            </ul>
        </div>
    </div>
</header>
<footer>
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-left">
                <h3>电话号码</h3>
                <p>1 800 603 6035</p>
            </div>
            <div class="col-md-3 footer-left">
                <h3>电子邮箱</h3>
                <p>QQ邮箱: <a href="mailto:info@example.com">info@mycompany.com</a></p>
            </div>
            <div class="col-md-3 footer-left">
                <h3>加入我们</h3>
                <ul>
                    <li><a href="#"><i class="facebok"> </i></a></li>
                    <li><a href="#"><i class="twiter"> </i></a></li>
                    <li><a href="#"><i class="goog"> </i></a></li>
                    <li><a href="#"><i class="inst"> </i></a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="col-md-3 footer-left">
                <h3>地址</h3>
                <p>湖南省长沙市中南大学铁道学院</p>
            </div>
            <div class="clearfix"></div>
            <div class="foot-bottom">
                <p>Copyright &copy; 2018.Company name All rights reserved.<a href="http://www.cssmoban.com/" target="_blank" title="模板之家">“东西南北中”</a><a href="http://www.cssmoban.com/" title="网页模板" target="_blank"></a></p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>