<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('历史记录')">
</head>
<body>

<header th:replace="common/template_menu::header">
</header>

<!--content-->
<div class="center">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="/center">个人主页</a></li>
        <li role="presentation"><a href="/message">消息通知</a></li>
        <li role="presentation" class="active"><a href="/history">历史记录</a></li>
        <li class="dropdown">
            <a href="/set" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">设置<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a th:href="@{/account/EditAccount(username=${account.username})}">修改信息</a></li>
                <li><a href="/SignOut">退出登录</a></li>
            </ul>
        </li>
    </ul>
    <div class="history" align="center">
        <div class="history_box fl" th:each="donate : ${donateList}">
            <p th:text="'订 单 号：'+ ${donate.donateId}"></p>
            <p th:text="'拍卖物品：'+ ${donate.productId}"></p>
            <p th:text="'拍卖时间：'+ ${donate.buy_time}"></p>
            <p th:text="'成交金额：￥'+ ${donate.price}"></p>
        </div>
    </div>
</div>
<!--content-->



<footer th:replace="common/template_menu::footer">
</footer>

</body>
</html>